/* ------------------------------------------------------------- CARTES DES APPARTEMENTS ------------------------------------------------- */

.appartement-card{

    background: var(--white);
    border-radius: 1.25rem;
    padding: 0.5rem;
    box-shadow: 0 0 1rem #0000002e;
    min-width: 15rem;

    /* flex-grow: 1;  */
}

.appartement-card img {
    height: 8rem; 
    /* width: 100%;  */
    /* object-fit: cover;  */
    /* object-position: top;  */
    
}

.appartement-card p, 
.appartement-card h3,
.popular-description p,
.popular-description h3{
    margin: 0.25rem;
}


.blue{

    color: var(--blue);
}

.grey{

    color: var(--darkgrey);
}
