/* ----------------------------------------------------------- NAVBAR -------------------------------------------------------------- */

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a{

    padding: 4.1rem;
    border-top: 2px solid transparent;
    
}

/* Couleur de la bordure du haut pour mettre en évidence le lien Hébergement */
nav .hebergement:hover{

    border-top-color: var(--blue);
}

#logo{

    margin-right: auto;
    padding: 0rem 2.5rem 0rem;
}

.hebergement{

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1rem;
    color: var(--blue);
}

.activites{

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1rem;
    color: #000000;
}

.sub-nav{
    display: flex;
}


@media (max-width: 992px) {
    .sub-nav{
         flex-basis: 100%;
    }

    .sub-nav a{
        flex-basis: 50%;
        text-align: center;
        border-bottom: 2px solid lightgrey;
    }

    .sub-nav .hebergement:hover{
        border-bottom-color: #0065FC;
        border-top-color: transparent;
    }
}