@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


/* Variable à la racine  */
:root {
    --blue : #0065FC;
    --grey : #F2F2F2;
    --darkgrey: #d9d9d9;
    --white: #FFFFFF;
    --black: #000000;
}



/* --------------------------------------------------------- BODY -------------------------------------------------------------------- */

/* Sélecteur universel */
.all-container{
    max-width: 1400px;
    margin: 0 auto;
    width: 98%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", "sans-serif";
}

img {
    object-fit: cover;
    object-position: 50% 50%;
}

a {
    color: inherit;
    text-decoration: none;
}


h1 {
    
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
margin-bottom: 8px;

color: #000000;
}

p{

    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;

    color: #000000;
}

#logo{
    height: 18px;
    width: 62px;
}

/* ----------------------------------------------------------- NAVBAR -------------------------------------------------------------- */

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a{

    padding: 65px;
    border-top: 2px solid transparent;
    
}

/* Couleur de la bordure du haut pour mettre en évidence le lien Hébergement */
nav .hebergement:hover{

    border-top-color: var(--blue);
}

nav .activites:hover{

    border-top-color: var(--blue);
}

/* Propriété appliquée sur le logo pour qu'il occupe au maximum sa marge à droite */
#logo{

    margin-right: auto;
   
}

.hebergement{

    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

/* Couleur du lien hébergement lorsque le cursus est dessus */
.hebergement:hover{
    color: var(--blue);
}

.activites{

    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.activites:hover{

    color: var(--blue);
}

.sub-nav{
    display: flex;
}

/* ---------------------------------------------------------- SEARCH FORM ------------------------------------------------------------ */
.searchForm{
    display: flex;
    align-items: center;
     
}

.searchForm i, .searchForm input{

    padding: 1rem;
}

.searchForm i{
    
    background-color: var(--grey);
    border: 1px solid var(--grey);
    border-radius: 0.9rem 0rem 0rem 0.9rem;
}

.searchForm input{
    
    padding-right: 3rem;
    border: 1px solid var(--grey);
    overflow: auto;
}

.searchForm input::placeholder{

    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.3rem;

    text-align: center;
    color: #000000
}

.searchForm button{

    padding: 0.8rem;
    padding-right: 1rem;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.3rem;
    text-align: center;

    color: var(--white);

    background: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 0rem 0.9rem 0.9rem 0rem;

    cursor: pointer;
    opacity: 0.9;
}

.searchForm button:hover{

    opacity: 1;
}

/* Icon search navbar */
.fa-sharp.fa-solid.fa-magnifying-glass{
    display: none;
}


/* @media (max-width:768px) {

    .searchForm .search-text{
        display: none;
    }

    .fa-sharp.fa-solid.fa-magnifying-glass{
        display: inline;
        background-color: inherit;
        border: transparent;
        align-items: center;
    }
     
} */

/* ----------------------------------------------------------- FILTERS ------------------------------------------------------------- */

.filter-list{

    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;

    margin-bottom: 39px;
    padding-top: 2%;
}
.filter-list > div {
    padding: 8px 15px;
}

.filter-list > div > i {
    color: var(--blue);
    margin-right: 5px;
}

.filter-list > div > span {
    font-weight: bold;
}


.filter-list > div{
    border: 2px solid var(--darkgrey);
    border-radius: 1.5rem;

    cursor: pointer;

}

.filter-list > div:hover{
    background-color: lightblue;
}

/* ------------------------------------------------------------ INFOS RESULTS --------------------------------------------------------- */

.infos-results{
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 39px;
    gap: 16px;

}

.infos-results .fa-solid.fa-info{

    color: var(--blue);
    height: 32px;
    width: 32px;
    border: 1px solid var(--darkgrey);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.infos-results p{

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-block: 2px;

    color: #000000;
}

/* ----------------------------------------------------------- LISTS APPARTEMENTS ----------------------------------------------------- */

/* Bloc hébergement : les cards des appartements (élément ciblé en flex) */
#liste-appartements{
    display: flex;
    justify-content: space-between;
    gap:40px;
    
}

/* Propriété pour les div (non-enfant) situé dans la liste d'appartements */
#liste-appartements > div{
    border: 2px solid transparent;
    background: var(--grey);
    border-radius: 20px;
    margin-bottom: 60px;
    padding: 32px; 
    padding-bottom: 0;
    width: 100%;
}
/* Taille du bloc Hébergement */
#liste-appartements .city{
    flex-basis: 70%;
}

/* Taille du bloc Populaires */
#liste-appartements .popular{
    flex-basis: 30%;
}

/* Mettre en évidence le lien "Afficher plus" pour le bloc Hébergement */
#liste-appartements .city a{
    font-weight: bold;
}


/* Média queries (TAILLE FORMAT MOBILES) */
@media screen and (max-width: 768px) {

    .all-container{

        width: 100%;
    }

    #logo{

        margin-top: 21px;
        margin-left: 157px;
        margin-right: 157px;
    }

    h1{
        margin-top: 31px;
        margin-left: 20px;
    }

    p{
        margin-left: 20px;
        margin-bottom: 36px;
    }

    .searchForm{
        margin-left: 22px;
        margin-right: 22px;
    }

    .filter-list{
       
        margin-left: 20px;
        margin-right: 27px;
        gap: 14px;
        width: 100%;
    }


    .filter-list h1{

        margin-right: 100%;
    }

    .filter-list div{

        padding: 8px 7px;
        width: 45%;
        
    }

    .filter-list > div > span {
        font-weight: bold;
        font-size: 13px;
    }

    .infos-results{
        
        margin-right: 22px;
        margin-bottom: 17px;
        gap: 4px;
    
    }

    .infos-results .fa-solid.fa-info{

        margin-left: 20px;
    }

    .infos-results p{

        font-size: 13px;
    }


    #liste-appartements{
        flex-direction: column;
    } 

    #liste-appartements .afficher{

        margin-bottom: 25px;
    }
    
    #liste-appartements .popular{
        order: -1;
    }

    .popular-description > div > p{

        font-size: 13px;
    }
    
    .appartement-card{
        width: 100% !important ;

    }
    
    .activity-list{
        flex-direction: column;
    }

    .card-activity{
        
        width: 100% !important ;

    }
    

    footer{

        flex-direction: column;
    }


}

/* Média queries (TAILLE FORMAT TABLETTE)  */
@media all and (min-width: 769px) and (max-width: 992px) {

    #liste-appartements{
        
        display: block;
        width: 100%;
    }
       
    #liste-appartements .afficher{

        margin-bottom: 25px;
    }

    #liste-appartements .popular{

        flex-direction: row;
    }

    #liste-appartements .popular header{

        width: 100%;
    }

    #liste-appartements .popular-card{
        display: flex;
        width: 100%;
        min-width: 240px;


    }

    #liste-appartements .popular-flex {

        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        gap: 32px;
        margin-bottom: 34px;
        
    }

    #liste-appartements .popular-description{

        margin-top: 0;
    }

    #liste-appartements .popular-description p, .popular-description h4{

        margin: 2px;
        margin-left: 16px;
        margin-bottom: 11px;
        font-size: 12px;
        line-height: 9px;
    }

    #activity .card-activity p{

        font-size: 13px;
        margin-left: 10px;
    }

}

/* ----------------------------------------------------------- LISTES: LES APPARTEMENTS CITY ------------------------------------------------ */

/* Propriété pour des cards listés pour les appartements de la ville */
.city-appartement-list{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.city-header{

    font-size: 18px;
    margin-bottom: 23px;
}

/* ------------------------------------------------------------- CARTES DES APPARTEMENTS ------------------------------------------------- */

/* Propriété de la card seule  */
.appartement-card{

    background: var(--white);
    border-radius: 20px;
    width: 30%;
    box-shadow: 0 0 1rem #0000002e;
    margin-top: 10px;
    margin-bottom: 10px;
}

.appartement-card:hover{

    transform: scale(1.1);
}

/* Propriété de l'image de la card */
.appartement-card img {
    height: 128px; 
    width: 100%;
    overflow: hidden;
    border: 5px solid var(--white);
    border-radius: 20px 20px 0px 0px;
 
}

/* La marge appliquée pour les descriptions des cards (titre, paragraphe, ...) */
.appartement-card p, 
.appartement-card h3,
.popular-description p,
.popular-description h4{
    margin: 2px;
    margin-left: 16px;
    margin-right: 26px;
    margin-bottom: 11px;
    font-size: 15px;
    line-height: 9px;
}

.appartement-card .stars{
    display: flex;
}

/* Classe utilisé pour gérer et simplifier la couleur des étoiles (bleu en évidence) */
.blue{

    color: var(--blue);
}

/* Classe utilisé pour gérer et simplifier la couleur des étoiles (gris en évidence) */
.grey{

    color: var(--darkgrey);
}

.afficher{

    margin-top: 40px;

}

/* -------------------------------------------------------------- CARTES: POPULAIRES -------------------------------------------------- */
/* Bloc popular : les cards des appartements (élément ciblé en flex) */
.popular{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}

/* bloc description dans la card - propriété des div  */
.popular-list{

    display: flex;
    gap: 33px;
    justify-content: space-between;
}

 /* Propriété pour l'image de la card popular */
 .popular img{
    width: 66%;
    height: 144px;
    overflow: hidden;
    border: 5px solid var(--white);
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;

} 


/* Propriété pour la description de la card popular (Titre, paragraphe, ...) */
.popular-description{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--white);
    width: 100%;
    border-radius: 20px;
    margin-top: 16px;
    margin-right: 22px;
    font-size: 16px;
    line-height: 19px;

}

/* Propriété pour les étoiles de la card popular */
.popular-description .stars{
    display: flex;
    margin: 15px;
 }


/* Propriété pour la liste des cards du bloc popular */
 .popular-flex{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 34px;
}

/* Propriété pour la card (en elle-même) pour popular */
.popular-card{
    display: flex;
    width: 100%;
    min-width: 15rem;
    max-height: 10rem;
    border-radius: 20px;

}

/* Propriété pour les titres du bloc popular */
.popular h4{
    display: flex;
    justify-content: space-between;
    line-height: 19px;
}

.popular-header{
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    margin-bottom: 23px;
}


/* ------------------------------------------------------- LES ACTIVITES -------------------------------------------------------------- */

#activity{

    margin-bottom: 61px;
    width: 100%;
} 

.activity-title{

    margin-top: 19px;
    margin-bottom: 19px;
}


.activity-list{

    display: flex;
    gap: 43px;
    justify-content: space-between;
    
}

.activity-list > div {

        position: relative;
        border: 1px solid var(--darkgrey);
        border-radius: 20px;
        width: 25%;
      
}

.activity-list img{

    width: 100%;
    height: 444px;
    overflow: hidden;
}

.card-activity{

    overflow: hidden;
    
}

.card-activity p{

    width: 100%;
    left: 19px;
    bottom: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-top: 15px;
    margin-left: 22px;
   

    color: black;
}

.card-activity:hover{

    transform: scale(1.1);
}


/* ---------------------------------------------------------- FOOTER ---------------------------------------------------------------- */

footer{
    display: flex; 
    background-color: var(--grey);
    width: 100%;
    justify-content: space-evenly;
}

footer > *{
    flex-basis: 30%;
    padding: 2rem 2rem;
    line-height: 2rem;
}









