/* Classes générales flexbox */
.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Taille de l'espacement des liens du menu */
.tailleLiens{
    width: 35%;
}

#hebergement{

height: 19px;
width: 113px;
left: 138px;
top: 0px;
border-radius: nullpx;

    position: absolute;
left: 36.22%;
right: 34.12%;
top: 0%;
bottom: 0%;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;

}

#activites{

    position: absolute;
left: 83.46%;
right: 0%;
top: 0%;
bottom: 0%;

/* Nav/Standard */

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
}