@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/* Sélecteur universel */
*{
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
}

a {
    color: inherit;
    text-decoration: none;
}

/* ----------------------------------------------------------- NAVBAR -------------------------------------------------------------- */

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a{

    padding: 67px;
    border-top: 2px solid transparent;
    
}

/* Couleur de la bordure du haut pour mettre en évidence le lien Hébergement */
nav .hebergement:hover{

    border-top-color: #0065FC;
}

#logo{

    margin-right: auto;
    padding: 0px 40px 0px;
}

.hebergement{

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0065FC;
}

.activites{

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.sub-nav{
    display: flex;
}


@media (max-width: 768px) {
    .sub-nav{
         flex-basis: 100%;
    }

    .sub-nav a{
        flex-basis: 50%;
        text-align: center;
        border-bottom: 2px solid lightgrey;
    }

    .sub-nav .hebergement:hover{
        border-bottom-color: #0065FC;
        border-top-color: transparent;
    }
}

/* --------------------------------------------------------- BODY -------------------------------------------------------------------- */

.entete{

    padding: 0 40px;
}

h1 {
    
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;

color: #000000;
}

p{

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.searchForm{
    display: flex;
    align-items: center;
     
}

.searchForm i, .searchForm input{

    padding: 16px;
}

.searchForm i{
    
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.searchForm input{
    
    padding-right: 48px;
    border: 1px solid #F2F2F2;
}

.searchForm input::placeholder{

    font-weight: bold;
    font-size: 15px;
    line-height: 21px;

    text-align: center;
    color: #000000
}

.searchForm button{

    padding: 13px;
    padding-right: 16px;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;

    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;

    cursor: pointer;
}