@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


/* Variable à la racine  */
:root {
    --blue : #0065FC;
    --grey : #F2F2F2;
    --darkgrey: #d9d9d9;
    --white: #FFFFFF;
}

/* --------------------------------------------------------- BODY -------------------------------------------------------------------- */

/* Sélecteur universel */
.all-contain{
    max-width: 1400px;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
}

a {
    color: inherit;
    text-decoration: none;
}


h1 {
    
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 1.3rem;
line-height: 1.6rem;

color: #000000;
}

p{

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;

    color: #000000;
}

#logo{
    height: 1.18rem;
    width: 3.87rem;
}

/* ----------------------------------------------------------- NAVBAR -------------------------------------------------------------- */

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a{

    padding: 4.1rem;
    border-top: 2px solid transparent;
    
}

/* Couleur de la bordure du haut pour mettre en évidence le lien Hébergement */
nav .hebergement:hover{

    border-top-color: var(--blue);
}

/* Propriété appliquée sur le logo pour qu'il occupe au maximum sa marge à droite */
#logo{

    margin-right: auto;
   
}

.hebergement{

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1rem;
}

/* Couleur du lien hébergement lorsque le cursus est dessus */
.hebergement:hover{
    color: var(--blue);
}

.activites{

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1rem;
    color: #000000;
}

.sub-nav{
    display: flex;
}


@media (max-width: 992px) {
    .sub-nav{
         flex-basis: 100%;
    }

    .sub-nav a{
        flex-basis: 50%;
        text-align: center;
        border-bottom: 2px solid lightgrey;
    }

    .sub-nav .hebergement:hover{
        border-bottom-color: #0065FC;
        border-top-color: transparent;
    }

}

/* ---------------------------------------------------------- SEARCH FORM ------------------------------------------------------------ */
.searchForm{
    display: flex;
    align-items: center;
     
}

.searchForm i, .searchForm input{

    padding: 1rem;
}

.searchForm i{
    
    background-color: var(--grey);
    border: 1px solid var(--grey);
    border-radius: 0.9rem 0rem 0rem 0.9rem;
}

.searchForm input{
    
    padding-right: 3rem;
    border: 1px solid var(--grey);
    overflow: auto;
}

.searchForm input::placeholder{

    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.3rem;

    text-align: center;
    color: #000000
}

.searchForm button{

    padding: 0.8rem;
    padding-right: 1rem;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.3rem;
    text-align: center;

    color: var(--white);

    background: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 0rem 0.9rem 0.9rem 0rem;

    cursor: pointer;
    opacity: 0.9;
}

.searchForm button:hover{

    opacity: 1;
}

/* Icon search navbar */
.fa-sharp.fa-solid.fa-magnifying-glass{
    display: none;
}


@media (max-width:768px) {

    .searchForm .search-text{
        display: none;
    }

    .fa-sharp.fa-solid.fa-magnifying-glass{
        display: inline;
        background-color: inherit;
        border: transparent;
        align-items: center;
    }
     
}

/* ----------------------------------------------------------- FILTERS ------------------------------------------------------------- */

.filter-list{

    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

    margin-bottom: 1rem;
    padding-top: 2%;
}

.filter-list h1{

    width: 3.3rem;
    height: 1.3rem;
    left: 3.8rem;
    top: 18.3rem;
    margin-right: 2%;
}


.filter{

    
    width: 10.9rem;
    height: 3rem;
    left: 9.2rem;
    top: 17.5rem;

    border: 2px solid var(--darkgrey);
    border-radius: 1.5rem;

    cursor: pointer;

}


.filter span{
    font-weight: bold;
    text-align: center;
    padding: 0.06rem 0rem;
}

.filter-fam{

    width: 8.5rem;
    height: 3rem;
    left: 22.8rem;
    top: 17.5rem;

    border: 2px solid var(--darkgrey);
    border-radius: 1.5rem;
    cursor: pointer;
}

.filter-fam span{

    font-weight: bold;
    text-align: center;
    padding: 0.06rem 0rem;
}

.filter-rom{

    width: 10.7rem;
    height: 3rem;
    left: 33.8rem;
    top: 17.5rem;
    
    border: 2px solid var(--darkgrey);
    border-radius: 1.5rem;
    cursor: pointer;
}

.filter-rom span{

    font-weight: bold;
    text-align: center;
    padding: 0.06rem 0rem;
}

.filter-ani{

    width: 14.1rem;
    height: 3.1rem;
    left: 46.8rem;
    top: 17.5rem;

border: 2px solid var(--darkgrey);
border-radius: 1.5rem;
cursor: pointer;


}


.filter-ani span{

    font-weight: bold;
    text-align: center;
    padding: 0.06rem 0rem;
}


.fa-solid.fa-money-bill-wave{
    color: var(--blue);
    padding: 1rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}

.fa-sharp.fa-solid.fa-person{

    color: var(--blue);
    padding: 1rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}


.fa-sharp.fa-solid.fa-heart{

    color: var(--blue);
    padding: 1rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.fa-sharp.fa-solid.fa-dog{

    color: var(--blue);
    padding: 1rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}

.filter:hover{

    background-color: lightblue;
}

.filter-fam:hover{

    background-color: lightblue;
}

.filter-rom:hover{

    background-color: lightblue;
}

.filter-ani:hover{

    background-color: lightblue;
}

/* ------------------------------------------------------------ INFOS RESULTS --------------------------------------------------------- */

.infos-results{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;

}

.infos-results .fa-solid.fa-info{

    color: var(--blue);
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--darkgrey);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.infos-results p{

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1rem;

    color: #000000;
}

/* ----------------------------------------------------------- LISTS APPARTEMENTS ----------------------------------------------------- */

/* Bloc hébergement : les cards des appartements (élément ciblé en flex) */
#liste-appartements{
    display: flex;
    gap:2.5rem;
    
}

/* Propriété pour les div (non-enfant) situé dans la liste d'appartements */
#liste-appartements > div{
    border: 2px solid transparent;
    background: var(--grey);
    border-radius: 1.25rem;
    gap: 1.938rem;
    margin-bottom: 3.75rem;
    padding: 2rem; 
}
/* Taille du bloc Hébergement */
#liste-appartements .city{
    flex-basis: 66%;
}

/* Taille du bloc Populaires */
#liste-appartements .popular{
    flex-basis: 33%;
}

/* Mettre en évidence le lien "Afficher plus" pour le bloc Hébergement */
#liste-appartements .city a{
    font-weight: bold;
}


/* Média queries (TAILLE FORMAT MOBILES) */
@media (max-width: 768px) {

    #liste-appartements{
        flex-direction: column;
    } 
    
    #liste-appartements .popular{
        order: -1;
    }
    
}

/* ----------------------------------------------------------- LISTES: LES APPARTEMENTS CITY ------------------------------------------------ */

/* Propriété pour des cards listés pour les appartements de la ville */
.city-appartement-list{

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 1rem;
}


/* Média queries (TAILLE FORMAT TABLETTE)  */
@media (max-width: 992px) {

    .liste-appartements .popular-flex{
        flex-direction: row;
    }
}

/* ------------------------------------------------------------- CARTES DES APPARTEMENTS ------------------------------------------------- */

/* Propriété de la card seule  */
.appartement-card{

    /* margin-left: 2.313rem;
    margin-right: 2.5rem; */
    background: var(--white);
    border-radius: 1.25rem;
    padding: 0.175rem;
    box-shadow: 0 0 1rem #0000002e;
    min-width: 15rem;
}

/* Propriété de l'image de la card */
.appartement-card img {
    height: 8rem; 
    width: 16rem;
    border: 5px solid var(--white);
    border-radius: 20px 20px 0px 0px;
 
}

/* La marge appliquée pour les descriptions des cards (titre, paragraphe, ...) */
.appartement-card p, 
.appartement-card h3,
.popular-description p,
.popular-description h3{
    margin: 0.125rem;
}

/* Classe utilisé pour gérer et simplifier la couleur des étoiles (bleu en évidence) */
.blue{

    color: var(--blue);
}

/* Classe utilisé pour gérer et simplifier la couleur des étoiles (gris en évidence) */
.grey{

    color: var(--darkgrey);
}

/* -------------------------------------------------------------- CARTES: POPULAIRES -------------------------------------------------- */
/* Bloc popular : les cards des appartements (élément ciblé en flex) */
.popular{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popular-list{

    display: flex;
    gap: 2.063rem;
    /* justify-content: space-between; */
}

.card-popular{
    display: flex;
    flex-direction: column;
    overflow: hidden
}

/* Propriété pour la description de la card popular (Titre, paragraphe, ...) */
.popular-description{
    
    display: flex;
    flex-direction: column;
    background: var(--white);
    /* height: 100%; */
    border-radius: 1.25rem;

}

/* Propriété pour les étoiles de la card popular */
.card-popular .stars{
    display: flex;
 }

 /* Propriété pour l'image de la card popular */
.popular img{
    width: 8.56rem;
    height: 9rem;
    border: 5px solid var(--white);
    border-radius: 20px 0px 0px 20px;

} 

.popular h4, .popular-title{
    display: flex;
    justify-content: space-between;
}




/* Propriété pour la liste des cards du bloc popular */
/* .popular-flex{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100% ;
    gap: 2rem;
    
} */

/* Propriété pour la card (en elle-même) pour popular */
.popular-card{
    display: flex;
    flex-basis: 100%;
    /* width: 100%; */
    min-width: 15rem;
    max-height: 10rem;
    border-radius: 20px;

}

/* Propriété pour les titres du bloc popular */
.popular h3,
.popular-header{
    display: flex;
    justify-content: space-between;
}


/* ------------------------------------------------------- LES ACTIVITES -------------------------------------------------------------- */

#activity{

    margin-bottom: 3.813rem;
    width: 100%;
} 

.activity-title{

    margin-top: 1.154rem;
}


.activity-list{

    display: flex;
    gap: 2.688rem;
    justify-content: space-between;
}

.activity-list > div {

        position: relative;
        border: 1px solid var(--darkgrey);
        border-radius: 1.25rem;
      
}

.activity-list img{

    width: 18rem;
    height: 27.75rem;
}

.card-activity{

    overflow: hidden;
    
}

.card-activity p{

    width: 15.438rem;
    height: 0.938rem;
    left: 1.188rem;
    bottom: 1.282rem;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.188rem;
    margin-left: 2rem;

    color: black;
}


/* ---------------------------------------------------------- FOOTER ---------------------------------------------------------------- */

footer{
    display: flex; 
    background-color: var(--grey);
    width: 100%;
    justify-content: space-evenly;
}

footer > *{
    flex-basis: 30%;
    padding: 2rem 2rem;
    line-height: 2rem;
}









